
.card {
  margin: 0 auto;
  background-color: blanchedalmond;
  width: 80%;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

// .container {
//   display: flex;
//   flex-direction: column;
//   max-height: 500px;
//   min-width: 100%;
// }

// .mat-table {
//   overflow: auto;
//   max-height: 500px;
// }

// a {
//   cursor: pointer;
// }

// .trader {
//   margin-top: 1;
//   padding: 150px;
// }

.card-deck-container {
  width: 100%;
  position: relative;
  border-radius: 2px;
  padding-top: 10px;
  margin: 0 auto;
}

.card-item {
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}

