<h1 mat-dialog-title>Select A Stock</h1>
<div mat-dialog-content>
    <form [formGroup]="stockCtrl" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Stock"
                 aria-label="Stock"
                 [matAutocomplete]="auto"
                 [formControl]="stockCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.symbol">
              <img class="example-option-img" aria-hidden height="25">
              <span>{{stock.symbol}}</span> |
              <small>Name: {{stock.name}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
  <a mat-raised-button color="accent" (click)="onSubmit()">Add</a>
</div>
