<div  style="display:flex; flex-wrap:wrap; justify-content:flex-start; background-color: rgba(255, 255, 255, 0); margin: 0 auto; width: 80%;" class="card-deck-container">
    <div *ngFor="let stock of stocks.data" class="card-item">
        <mat-card style="width: 250px;" >
            <mat-card-title style="text-align: center;">
                    {{ stock.symbol }}
            </mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content>
                <mat-list>
                    <div mat-header> Stock Information </div>
                    <mat-list-item>
                            <mat-icon mat-list-icon>attach_money</mat-icon>
                            <div mat-line>Price</div>
                            <div mat-line> {{ stock.price }} </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <div mat-line>Open</div>
                        <div mat-line> {{ stock.open }} </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <div mat-line>Close</div>
                        <div mat-line> {{ stock.close }} </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="openAddDialog()" style="background-color: whitesmoke;"> 
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>