.contianer {
    margin: 0 auto;
  }
  
  .center {
    margin: auto;
    width: 50%;
    padding: 25px;
  }
  
  .cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  
  .card-deck-container {
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
  }
  
  
  .card-item {
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
  }
  
  .icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .rounded-border {
    border: 2px solid;
    border-radius: 5px;
  }
  