    <mat-card class="center" style="background-color: blanchedalmond;">
        <mat-card-title style="text-align: center; padding: 25px;">Registration Form</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        First name
                    </mat-label> 
                    <input matInput type="text" placeholder="enter first name" formControlName="firstname">
                    <mat-error *ngIf="registerForm.controls.firstname.touched && registerForm.controls.firstname.errors && registerForm.controls.firstname.errors.required">Must enter a first name</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        Last name
                    </mat-label> 
                    <input matInput type="text" placeholder="enter last name" formControlName="lastname">
                    <mat-error *ngIf="registerForm.controls.lastname.touched && registerForm.controls.lastname.errors && registerForm.controls.lastname.errors.required">Must enter a last name</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        Email
                    </mat-label> 
                    <input matInput type="email" placeholder="enter email" formControlName="email">
                    <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors && registerForm.controls.email.errors.required">Must enter a email</mat-error>
                    <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors && registerForm.controls.email.errors.email">Must enter a valid email</mat-error>
                    <mat-error *ngIf="registerForm.hasError('email') && registerForm.controls.confirmEmail.touched" >Emails must match</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        Confirm email
                    </mat-label> 
                    <input matInput type="email" placeholder="re-enter email" formControlName="confirmEmail">
                    <mat-error *ngIf="registerForm.controls.confirmEmail.touched && registerForm.controls.confirmEmail.errors && registerForm.controls.confirmEmail.errors.required">Must enter a email</mat-error>
                    <mat-error *ngIf="registerForm.controls.confirmEmail.touched && registerForm.controls.confirmEmail.errors && registerForm.controls.confirmEmail.errors.email">Must enter a valid email</mat-error>
                    <mat-error *ngIf="registerForm.hasError('email') && registerForm.controls.email.touched" >Emails must match</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        Password
                    </mat-label> 
                    <input matInput type="password" placeholder="enter password" formControlName="password">
                    <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors && registerForm.controls.password.errors.required">Must enter a password</mat-error>
                    <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">Password must be 8 characters</mat-error>
                    <mat-error *ngIf="registerForm.hasError('password') && registerForm.controls.confirmPass.touched" >Passwords must match</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="parent">
                    <mat-label>
                        Confirm password
                    </mat-label> 
                    <input matInput type="password" placeholder="re-enter password" formControlName="confirmPass">
                    <mat-error *ngIf="registerForm.controls.confirmPass.touched && registerForm.controls.confirmPass.errors && registerForm.controls.confirmPass.errors.required">Must enter a password</mat-error>
                    <mat-error *ngIf="registerForm.hasError('password') && registerForm.controls.password.touched">Passwords must match</mat-error>
                </mat-form-field>
                <br>
                <div class="parent">
                    <button mat-raised-button type="submit" [disabled]="!registerForm.valid" color="accent">Register</button>
                </div>
            </form>
    
        </mat-card-content>
    </mat-card>    
