<mat-toolbar style="background-color: #4BAEF8;">
  <mat-toolbar-row>
    <a routerLink="/">
      <mat-icon svgIcon="logo" class="size"></mat-icon>
    </a>
    <span class="fill-remaining-space"></span>
    <div *ngIf="!auth; else notShow">
      <a mat-raised-button style="margin-right: 12px; background-color: #F89C4B;" routerLink="/signup">Sign up</a>
      <a mat-raised-button style="background-color: #F89C4B;" routerLink="/login">Login</a>
    </div>
    <ng-template #notShow>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item [routerLink]="['/dashboard']">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </button>
        <div *ngIf="verified; else disabled">
          <button mat-menu-item [disabled]="false">
            <mat-icon>cloud_download</mat-icon>
            <span>Stock Information</span>
          </button>
        </div>
        <ng-template #disabled>
          <button mat-menu-item [disabled]="true">
            <mat-icon>cloud_download</mat-icon>
            <span>Stock Information</span>
          </button>
        </ng-template>
      </mat-menu>
      </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<router-outlet></router-outlet>